/* Style du site Reservia */

@font-face {
    font-family: "raleway, sans-serif";
    src: url("/Police/raleway/Raleway-SemiBold.ttf");
   }

body{
    margin: auto;
    width: 90%;
    max-width: 1200px;
    font-family: raleway, sans-serif;}
/*en tête*/
header{
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;}
.logo{
    max-width: 100%;}
.menu{
    display: flex;
    grid-column-start: 3;
    height: 60px;
    list-style: none;
    align-items: center;}
a{
    text-decoration: none;
    color: inherit;}
.menu_hebergement{
    display: flex;
    align-items: center;
    color: royalblue;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;}
.menu_activites{
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 60px;
    padding-right: 40px;
    color: royalblue;
    font-size: 20px;
    font-weight: bolder;}
.inscription{
    display: flex;
    color: royalblue;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bolder;
    font-size: 20px;}
.menu a:hover{
    color:royalblue;
    border-top: solid 4px royalblue;}
.titre_header{
    font-size: 30px;
    font-weight: bolder;}
.sous-titre_header{
    font-size: 15px;}

    /*barre de recherche*/
.description{
    margin-top: -20px;
    margin-bottom: 20px;}
.ensemble_recherche{
    display: flex;
    height: 50px;}
.localisation{
    display: flex;
    width: 50px;
    height: 50px;
    background-color:#F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    justify-content: center;
    align-items: center;}
.Barre_de_recherche{
    width: 300px;
    border: solid 1px;
    border-color:#F2F2F2;}
.bouton_de_recherche{
    width: 100px; 
    background-color: #0065FC;
    border: hidden;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;}
.icone_recherche{
    background-color: #0065FC;
    border: hidden;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    display: none;
}
.fas.fa-search{
    display: none;}
/*fin de barre de recherche*/

/*zone de filtre*/
.section_filtre{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;}
.ensemble_filtre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;} 
.ensemble_filtre :hover {
    background-color: #DEEBFF}
.filtre{
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 25px;
    border: solid 2px #F2F2F2;
    margin-left: 20px;
    margin-right: 20px;}
.texte_filtre{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;}
.logo_filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border: solid 2px;
    border-color:#dbe8fb;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: #0065FC;
    margin: -2px;}
.resultat_recherche{
    display: flex;
    align-items: center;}
.text_resultat_recherche{
    margin-left: 20px;}
.icone_resultat_recherche{
    border: solid 1px #DEEBFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;}



#hebergements{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;}

/*hébergement a Marseille*/
#hebergements_marseille{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0px;}
.titre_section{
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;}
.grille{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
    padding: 20px;}

.carte_hebergement{
    padding: 4px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px #c5c5c5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;}
.box_hebergement{
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    text-decoration: none;}
.image_hebergement{
    height: 115px;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;}

.legend_appart{
    display: flex;
    height: auto;
    padding: 4px;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 20px 20px;}
.titre_carte{
    height: 20px;
    width: 250px;
    font-weight: bolder;
    margin: 0px;
    color: inherit;
    font-size: 12px;
    padding-left: 10px;}
.tarif{
    height: 20px;
    font-size: 12px;
    width: 250px;
    margin: 0px;
    color: inherit;
    padding-left: 10px;}
.icone_avis{
    height: 20px;
    display: flex;
    margin: 0px;
    padding-left: 10px;
    list-style: none;
    color: inherit;
    color: blue;}
.grey_star .fas.fa-star{
    color: #D9D9D9;}

/*Section les plus populaire*/
#populaire{
    background-color: #F2F2F2;
    border-radius: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;}
#grille_populaire{
    display: flex;
    flex-direction: column;
    padding: 20px;}
.box_populaire{
    background-color: white;
    height: 140px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 4px;
    box-shadow: 4px 4px 4px #c5c5c5}
.image_populaire{
    border-radius: 20px 0px 0px 20px;
    max-width: 40%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;}
.texte_populaire{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 12px;}
.titre_populaire{
    padding-left: 10px;
    color: inherit;
    margin: 0px;
    font-size: 12px;}
.tarif_populaire{
    padding-left: 10px;
    margin-top: 0px;
    font-size: 12px;
    color: inherit;}
/*fin de section les plus populaire*/

/*Section Activités a Marseille*/
#activites{
    width: 100%;
    height: 100%;
    margin-top: 40px;}
.grille_activite{
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  250px 30px 30px 30px 250px;}

.box_activite{
    position: relative;
    flex: 1;
    text-decoration: none;}

.image_activite{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;}

.activite_un{
    border-radius: 20px;
    box-shadow: 3px 3px 3px #a1a1a1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-row: 1/6;}

.activite_deux{
    border-radius: 20px;
    box-shadow: 3px 3px 3px #a1a1a1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-row: 1/4;}

.activite_trois{
    border-radius: 20px;
    box-shadow: 3px 3px 3px #a1a1a1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-row: 1/6;}

.activite_quatre{
    border-radius: 20px;
    box-shadow: 3px 3px 3px #a1a1a1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-row: 1/2;}

.activite_cinq{
    border-radius: 20px;
    box-shadow: 3px 3px 3px #a1a1a1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-row: 5/6;}

.activite_six{
    border-radius: 20px;
    box-shadow: 3px 3px 3px #a1a1a1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-row: 3/6;}

.titre_activite{
    margin: 20px;}

footer{
    width: auto;
    height: auto;
    display: flex;
    background-color: #F2F2F2;
    margin-top: 20px;}

.bloc_footer{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-right: 150px;}

.bloc_footer p{
    margin: 10px}

/*fin en tête*/
