/* Style du site Reservia smartphone*/

@media screen and (max-width: 767px){

    @font-face 
{
font-family: 'raleway';
src: url('Police/raleway/Raleway-light.ttf');
}
/*section header*/
header {
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "logo inscription"  
    "menu menu";}

.logo{
    grid-area: "logo";
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    grid-area: menu;}
.menu_hebergement{
    display: grid;
    width: 50%;
    list-style: none;
    align-items: center;
    justify-content: center;}
.menu_activites{
    display: grid;
    width: 50%;
    list-style: none;
    align-items: center;
    justify-content: center;}
.inscription{
    grid-area: "inscription";
    justify-content: flex-end;
    padding-right: 40px;
    color:royalblue;
    font-weight: 600}
a:hover{
    color:royalblue;
    border-bottom: solid 4px royalblue;
    border-top: none;}
/*Fin section header*/

/*barre de recherche*/
.ensemble_recherche{
    justify-content: center;}





/*zone de filtre*/
.section_filtre{
    flex-direction: column;
    align-items: flex-start;}
.ensemble_filtre{
    align-items: flex-start;
    flex-direction: column;
    background-color: darkred;}




    /*hébergement a Marseille*/

#hebergements{
    background-color: yellow;
    border-radius: 30px;
    grid-template-columns: 1fr;
    justify-content: center;}

.grille{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem}

/*Section les plus populaire*/
.populaire{
    background-color: #F2F2F2;
    border-radius: 30px;
    float: none;
    flex-direction: column;
    margin-left: 2rem;}


/*Section Activités a Marseille*/
.grille_activite{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(6 auto);
    row-gap: 2rem;}

    .activite_un{
        display: flex;
        width: auto;
        height: 450px;
        background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #a1a1a1;}
    .activite_deux{
        display: flex;
        width: auto;
        height: 240px;
        background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #a1a1a1;}
    .activite_trois{
        display: flex;
        width: auto;
        height: 450px;
        background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #a1a1a1;}
    .activite_quatre{
        display: flex;
        width: auto;
        height: 200px;
        background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #a1a1a1;}
    .activite_cinq{
        display: flex;
        width: auto;
        height: 160px;
        background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #a1a1a1;}
    .activite_six{
        display: flex;
        width: auto;
        height: 210px;
        background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #a1a1a1;}


footer{
    width: auto;
    height: auto;
    background-color: #F2F2F2;
    flex-direction: column;
    margin-top: 20px;}
.a_propos{
    display: flex;
    flex-direction: column;}
.nos_hebergements{
    display: flex;
    flex-direction: column;
    padding: 0;}
.assistance{
    display: flex;
    flex-direction: column;
    padding: 0;}
}
